.result-card {
  background-color: transparent;
  gap: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
