.result-card {
  text-align: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 1.75rem;
  color: #333;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}

.result-card h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.carousel-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 100%;
  margin-top: 1rem;
}

.carousel-div img {
  width: 50% !important;
  max-width: 220px !important;
  height: 100%;
}

.carousel-div h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.carousel-div p {
  font-size: 1.5rem;
  font-weight: 400;
}

.carousel-div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.carousel-div li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
